body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #5a322a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title { 
    text-align: left;
}


.menu {
    display: flex;
    margin-right: 100px;
}

.menu li {
    margin-left: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #5a322a;
}

.logo{
    width: 320px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    margin-left: 100px;
}

.caixa {
    background-color: #F9ECE5;
    color: #5a322a;
    text-align:left;
    padding: 20px;
    font-size: 30px;
    width: 60%;
    height: 600px;
}


.caixa h1, p {
    margin-left: 200px;
    color: #5a322a;
}

.caixa h1 {
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.caixa p {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.botsm {
    margin-left: 200px;
    margin-top: 25px;
    border: 3px solid #718a9e;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 300px;
    height: 50px;
    background-color: #718a9e;
}

.botsm a {
    color: #fff;
}

.botsm:hover {
    background-color: #5a322a;
    border: #5a322a;
}

.banner {
    display: flex;
}

hr {
    border: #5a322a 1px solid;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #5a322a;
}

.abas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.aba1, .aba2 {
    padding: 20px;
    font-size: 25px;
    width: 300px;
    height: 270px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aba1 {
    background-color: #95b8d3;
    color: #5a322a;
}

.aba2 {
    background-color: #E4A499;
    color: #5a322a;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
}

.img-aba {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}

.aba1 p, .aba2 p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
}

.aba1:hover {
    background-color: #8fb3cf;
}

.aba2:hover {
    background-color: #db9e93;
}

footer {
    background-color: #5a322a;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

footer p {
    color: #fff;
    margin: 10px auto;
}

.p-m {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #5a322a;
    text-align: center;
    margin-top: 2%;
}

.caixa h2 {
    color: #5a322a;
    margin-top: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin-left: 150px;
}

.info {
    margin-top: 5%;
    margin-bottom: 5%;
}

.info2 {
    background-color: #F9ECE5;
    height: 500px;
}

.menu li:hover a {
    background-color: #E4A499;
    color: #5a322a;
    border-radius: 15px;
  }

.tps-ajuda {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #95b6cf;
}

.tps-ajuda2 {
    margin-top: 0;
}

.back-ajuda {
    background-color: #95b6cf ;
    margin-top: 5%;
}

.tp-ajuda {
    border-radius: 20px;
    width: 300px;
    height: 350px;
    background-color: #F9ECE5;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tp-ajuda h2 {
    color: #5a322a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tp-ajuda h3 {
    color: #5a322a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}

.tp-ajuda p {
    color: #5a322a;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-top: 5%;
    margin-left: 15px;
    font-size: 18px;
}
