body {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #5A322A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: left;
}

.menu {
    display: flex;
    margin-right: 100px;
}

.menu li {
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #5A322A;
}

.logo {
    width: 320px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    margin-left: 100px;
}

h1 {
    font-size: 40px;
    color: #5A322A;
    text-align: center;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 25px;
    color: #5A322A;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



img {
    width: 33.333%;
    height: 650px;
    margin-top: 20px;
}

.pessoas {
    display: flex;
    margin-bottom: 55px;
}

p {
    font-size: 20px;
    color: #5A322A;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    text-align: justify;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: #E4A499 1px solid;
}



.caixa {
    background-color: #F9ECE5;
    width: 70%;
    height: 100px;
    margin: 100px auto 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa h1 {
    color: #5A322A;
    font-size: 50px;
}

footer {
    background-color: #5a322a;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

footer p {
    color: #fff;
    margin: 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.menu li:hover a {
    background-color: #E4A499;
    color: #5a322a;
    border-radius: 15px;
}

.body-ss {
    background-color: #F9ECE5;
}

.formulario {
    width: 400px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input, textarea {
    width: 400px;
    height: 30px;
}

.check {
    width: auto;
    margin-right: 5px;
}


.pedido-btn {
    width: 400px;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #5A322A;
    color: #fff;
}

.informacao h3 {
    margin-left: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #718a9e;
}

.informacoes h2 {
    font-size: 26px;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    color: #5A322A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px auto;
}

.aviso h3 {
    margin-left: 45%;
    margin-right: 45%;
    color: #5A322A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
}


.ul-valores {
    background-color: #718a9e;
    display: flex;
    justify-content: space-between;
}

.ul-valores li {
    background-color: #F9ECE5;
    margin: 20px auto;
    width: 20%;
    height: 180px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5A322A;
}

.valores h3 {
    font-size: 22px;
    margin-left: 15%;
    background-color: #ebc7c0;
    border: #ebc7c0 solid 5px;
}

.linha-m {
    border: #5A322A 1px solid;
}
